<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>BookLook</title>

<!-- Additional CSS Frameworks -->
 <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous" />
 <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Sans" />

 <!-- BookLook CSS Styling -->
 <link rel="stylesheet" type="text/css" href="/css/style.css" />

 <!-- Additional Javascript Frameworks -->
 <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>