html{
    background: linear-gradient(to right, #01f0fe, #4eacfe); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Josefin Sans', sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
}

html::-webkit-scrollbar-track{
    border-radius: 5px;
    background-color: #4dacfe;
}

html::-webkit-scrollbar{
    width: 10px;
    background-color: #4dacfe;
    height: 10px;
}

html::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #3f51b5;
}

body {
    margin: 100px 25px 25px;
    color: #607d8b;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1, h2{
    color: #607D8B;
    letter-spacing: 2px;
    text-align: center;
}

h1{
    font-size: 2em;
}

h2 {
    font-size: 1em;
    margin: 25px 0;
}

article {
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto auto auto;
    max-height: 100%;
    max-width: 100%;
    width: 850px;
}

#search-container {
    height: 170px;
}

.search-header {
    position: absolute;
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 50px);
    max-height: 100%;
    top: 100px;
}

.floating-header {
    margin-top: -32px;
    background: #fff;
    padding: 15px;
    border-radius: 50%;
}

.header-wrapper{
    opacity: 1;
}

.header-wrapper img {
    height: 32px;
    width: 32px;
}

.header-wrapper h5 {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    padding: 0 0 5px 0;
    margin: 0;
    text-align: center;
    width: 100%;
    background: -webkit-linear-gradient(left, #01f0fe, #4eacfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0;
    align-items: center;
    background: #EEEEEE;
    border-radius: 20px;
}

#input-field {
    width: 90%;
    padding: 7px;
    border: 0;
    background: transparent;
    font-family: inherit;
    font-size: 1em;
}

#search-button {
    border: none;
    background: none;
    color: #607D8B;
}

#search-error{
    margin-top: 12px;
    color: #e57373;
    position: absolute;
    font-size: 0.75em;
}

#results-container {
    margin-top: 100px;
    display: block;
    padding: 25px 0;
    display: none;
    max-height: fit-content;
    align-items: inherit;
}