/* ======================================================================================= */
/* ----------------------------------- RESPONSIVE DESIGN  -------------------------------- */
/* ======================================================================================= */


/* Extra small devices (phones, 425px and down) */
@media only screen and (max-width: 425px) {
    h2 { font-size: 1.5em; }

    #search-container { height: 310px; }

    #search-container h2 { padding-top: 30px; margin: 25px 30px; }

    .floating-header { margin-top: -60px; padding: 30px; }

    .header-wrapper h5 { font-size: 1.23em; margin-top: 40px; }

    .header-wrapper img { height: 72px; width: 72px; }

    .input-wrapper { border-radius: 30px; }

    #input-field { padding: 20px; font-size: 1.3em; }

    #input-clear { font-size: 0.9em; }

    #search-button { font-size: 1.3em; padding: 0 15px; }

    .row-wrapper { flex-direction: column; }

    .book-cover {  margin: 25px 0; }

    .book-info { text-align: center; }

    .book-details:before{ display: block; }
} 

/* Small devices (portrait tablets and large phones, 425px and up) */
@media only screen and (min-width: 425px)  {
    h2 { font-size: 1.4em; }

    #search-container { height: 240px; }

    #search-container h2 { padding-top: 30px; margin: 25px 30px; }

    .floating-header { margin-top: -50px; padding: 25px;}
 
    .header-wrapper h5 { font-size: 1.13em; margin-top: 30px; }

    .header-wrapper img { height: 62px; width: 62px; }

    .input-wrapper { border-radius: 30px; }

    #input-field { padding: 15px; font-size: 1.2em; }

    #input-clear { font-size: 0.8em; }

    #search-button { font-size: 1.1em;  padding: 0 15px; }

    .row-wrapper { flex-direction: column; }

    .book-cover { margin: 25px 0; }

    .book-info { text-align: center; }

    .book-details:before { display: block; }
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px)  {
    h2 { font-size: 1.3em; }

    #search-container { height: 220px; }

    #search-container h2 { padding-top: 10px; }

    .floating-header { margin-top: -40px; padding: 20px; }

    .header-wrapper h5 { font-size: 1.03em; margin-top: 20px; }

    .header-wrapper img { height: 52px; width: 52px; }

    .input-wrapper { border-radius: 20px; }

    #input-field { padding: 10px; font-size: 1.15em; }

    #search-button { font-size: 1em; }    

    .row-wrapper { flex-direction: row; }

    .book-cover { margin: 0 25px; }

    .book-info { text-align: left; }
    
    .book-details:before { display: initial; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)  {
    h2 { font-size: 1.2em; }

    #search-container { height: 190px; }

    #search-container h2 { padding-top: 0; }

    .header-wrapper h5 { font-size: 0.93em; margin-top: 10px; }

    .header-wrapper img { height: 42px; width: 42px; }

    #input-field { padding: 7px; font-size: 1em; }

    #input-clear { font-size: 0.7em; }

    #search-button { font-size: 0.8em; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px)  {
    h2 { font-size: 1em; }

    #search-container { height: 170px; }

    .floating-header { margin-top: -32px; padding: 15px; }

    .header-wrapper h5 { font-size: 0.83em; margin-top: auto; }

    .header-wrapper img { height: 32px; width: 32px; }

    #search-button{  padding: initial; }
}

/* ======================================================================================= */
/* -------------------------------------- ANIMATIONS ------------------------------------- */
/* ======================================================================================= */

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); }
}

@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}

@keyframes spin { 
    100% { -webkit-transform: rotate(360deg); 
           transform:rotate(360deg); } 
}

@-moz-keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }    
}

@-webkit-keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

/* ======================================================================================= */
/* ---------------------------------- GENERAL TAG STYLING -------------------------------- */
/* ======================================================================================= */

html {
    background: linear-gradient(to right, #01f0fe, #4eacfe);
    font-family: 'Josefin Sans', sans-serif;
    background-attachment: fixed;
    overflow-x: hidden;
    /*overflow-y: hidden;*/
}

html::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #4dacfe;
}

html::-webkit-scrollbar {
    width: 10px;
    background-color: #4dacfe;
    height: 10px;
}

html::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #3f51b5;
}

body {
    margin: 100px 25px 25px;
    color: #607d8b;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

h1, h2 {
    letter-spacing: 2px;
    text-align: center;
}

h1 {
    font-size: 2em;
}

h2 {
    /*font-size: 1em;*/
    /*margin: 25px 0;*/
}

a, button {
    cursor: pointer;
}

article {
    right: 0;
    bottom: 0;
    overflow: auto;
    background: #fff;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto auto auto;
    max-height: 100%;
    max-width: 100%;
    width: 850px;
}

/* ======================================================================================= */
/* ------------------------------- SEARCH CONTAINER STYLING ------------------------------ */
/* ======================================================================================= */

#search-container {
    /*height: 170px;*/
    display: none;
}

.search-header {
    position: absolute;
    display: flex;
    width: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: calc(100% - 50px);
    max-height: 100%;
    top: 100px;
}

.floating-header {
    /*margin-top: -32px;*/
    background: #fff;
    /*padding: 15px;*/
    border-radius: 50%;
}

.header-wrapper{
    opacity: 0;
}

.header-wrapper img {
    /*height: 32px;*/
    /*width: 32px;*/
}

.header-wrapper h5 {
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    padding: 0 0 5px 0;
    /*margin: 0;*/
    text-align: center;
    width: 100%;
    background: -webkit-linear-gradient(left, #01f0fe, #4eacfe);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.input-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 75%;
    margin: 0;
    align-items: center;
    background: #EEEEEE;
    /*border-radius: 20px;*/
}

#input-field {
    width: 90%;
    /*padding: 7px;*/
    border: 0;
    background: transparent;
    font-family: inherit;
    /*font-size: 1em;*/
    color: inherit;
}

#input-clear {
    position: relative;
    /*font-size: 0.7em;*/
    color: #bdbdbd;
    visibility: hidden;
    border: none;
    background: none;
}

#input-field[disabled],
#input-clear[disabled],
#search-button[disabled] {
    pointer-events: none;
    color: #bdbdbd;
}

#search-button {
    border: none;
    background: none;
    color: #607D8B;
}

#search-error {
    margin-top: 10px;
    color: #e57373;
    /*position: absolute;*/
    font-size: 0.75em;
}

/* ======================================================================================= */
/* ------------------------------ RESULTS CONTAINER STYLING ------------------------------ */
/* ======================================================================================= */

#results-container {
    margin-top: 100px;
    display: block;
    padding: 25px 0;
    display: none;
    max-height: fit-content;
    align-items: inherit;
}

#loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#loader img {
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.results-header {
    text-align: center;
    padding: 25px 0;
    margin: 0 55px;
    border-bottom: 1px dashed #607D8B;
}

.results-none { 
    border-bottom: none;
}

.results-header * {
    margin: 0;
    display: block;
}

.results-header h2 {
    font-size: 1.5em;
}

.results-header em {
    margin-top: 10px;
    font-weight: normal;
}

.row-wrapper {
    padding: 25px 0;
    margin: 0 55px;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px dashed #607D8B;
}

.row-wrapper:last-of-type {
    border-bottom: none;
}

.row-value {
    font-style: italic;
    font-size: 3em;
    color: #3f51b5;
    max-width: 40px;
}

.row-value::after {
    content: ".";
}

.book-cover {
    height: 150px;
    width: 96px;
    /*margin: 0 25px;*/
    box-shadow: 3px 3px 10px 0px #9e9e9e;
}

.book-info {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.book-info * {
    padding-bottom: 5px;
}

.book-title {
    margin: 0;
}

.book-details::before {
    font-weight: bold;
}

.details-unavailable::after {
    content: "Unavailable";
    font-style: italic;
}

.book-authors::before {
    content: "Author: ";
}

.book-publisher::before {
    content: "Publisher: ";
}

.book-more {
    text-align: center;
    margin-top: 10px;
    background: #3f51b5;
    border-radius: 20px;
    padding: 8px;
    color: #fff;
    text-decoration: none;
}

.icon::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }

.book-more::after {
    content: "\f35d";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    margin-left: 8px;
}

#load-more {
    margin: 10px 55px;
    padding: 10px;
    font-size: 1.5em;
    color: #455A64;
    letter-spacing: 1px;
    border: none;
    border-radius: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    -webkit-animation: bounce 1s infinite alternate;
    -moz-animation: bounce 1s infinite alternate;
    animation: bounce 1s infinite  alternate;
}

#load-more i {
    margin-top: 5px;
}

#results-complete {
    text-align: center;
    margin: 25px 55px;
}