<!-- views/pages/index.ejs -->

<!DOCTYPE html>

<html lang="en">
	<head>
		<% include ../partials/head %>
	</head>
  <body>
    <main>
      <section>
        <article id="search-container">
          <div class="search-header">
            <div class="floating-header">
              <div class="header-wrapper">
                <img src="images/logo.png">
                <h5>BookLook</h5>
              </div>
            </div>
          </div>
          <h2>Enter keyword(s) and click search to display results.</h2>
            <div class="input-wrapper">
              <input id="input-field">
              <button id="search-button" class="fas fa-search"></button>
            </div>
        </article>
        <article id="results-container"></article>
      </section>
    </main>
  </body>
</html>